.miniimg {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /* border: solid black; */
}

.imgtable {
    display: flex;
    text-align: center;
}

.imgtable {
    display: inline-block;
    overflow: hidden;
    /* Скрываем всё за контуром */
}

.imgtable .miniimg {
    transition: 1s;
    /* Время эффекта */
    display: block;
}

.imgtable .miniimg:hover {
    position: absolute;
    transform: scale(2.5);
    /* Увеличиваем масштаб */
}

.cont {
    background: white;
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 40px;
    justify-content: center;
    border: 1px solid black;
}



.basketTable {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.table {
    border: none;
    border: solid white;
    align-items: center;
    cursor: pointer;
}
.table:hover {
    color: blue
}