.list {
    padding-top: 30px;
}

.miniimg {
    width: 70px;
    height: 50px;
    border-radius: 10px;
    /* border: solid black; */
}

.imgtable {
    display: flex;
    justify-content: center;
}

/* .li {
    display: flex;
    align-items: center;
    background-color: white;
    border-color: white;
} */

.cont {
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 40px;
    justify-content: center;
}

.basketTable {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}