.footer {
    display: flex;
    justify-content: space-between;
    background: 'white';
    border: 'none'
}

.icon {
    cursor: pointer;
}

.img {
    max-width: 250px;
    min-height: 300px;
}

.card {
    border: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.text {
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.add {
    cursor: pointer;
}

.cardtitle {
    cursor: pointer;
}

.footer {
    background: none;
}

.inBasket {
cursor: pointer;
}