.nb {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-content: space-between;
    
}

.href {
    font-size: 22px;
}

.nbContainer {
    background-color:white;
    /* border-bottom: 1px solid black; */
}

.navbarPie {
    display: flex;
    align-content: space-between;
}

.nbPh {
    padding-left: 30px;
}

.cart {
    padding-right: 30px;
}